NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

ADMIN_PASSWORD=163610
JWT_SECRET=WdLDEc7f9c0usHSaVT27odGy5V2eHSricq4Hr6XH3_go7oO3w4OuN7GKPuNTgk_r9QYpqg7vIBicQvtaE

SMS_GATEWAY_URL=https://sms.capcom6.dev/api/3rdparty/v1/message
SMS_GATEWAY_LOGIN=
SMS_GATEWAY_PASSWORD=

CRON_SECRET=
