NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

NEXT_PUBLIC_ADMIN_PASSWORD=

SMS_GATEWAY_URL=https://sms.capcom6.dev/api/3rdparty/v1/message
SMS_GATEWAY_LOGIN=
SMS_GATEWAY_PASSWORD=

CRON_SECRET=
